@model dynamic

<!-- internal banner -->
<section class="internal-banner-simple">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 relative full-height">
                <div class="box">
                    @Html.Raw(Model.MainContent)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end internal banner -->