.form-control-error {
    color: #d51820;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1em;
    margin-top: .5rem;
    position: relative;
}


.button {
    cursor: pointer;
}

.container label span {
    vertical-align: super;
    color: #d51820;
    font-size: 1.3rem;
}


.no-results{
    text-align:center;
    font-size: 1.8rem;
    font-weight: 600;
}