<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6501.0" authCookieName=".SFAUTH-Stucchi" rolesCookieName=".SFROLES-Stucchi" validationKey="4E0A1D230C01183A83D4D4D80B6FFF38092C1764765BB07267A1F4FB0F251A3A6F506BDEE77D988658A7E76609D618D105CFB79202AFF99904831BE7BCD1FDE9" decryptionKey="94E98156B4E9EC026C333E397743AB5370F27A3F7733681EBEAF9AAB209E18F2" loggingCookieName=".SFLOG-Stucchi">
	<securityTokenIssuers>
		<add key="584DDBB31F6F8209AF0FE0B7B1A4A3A77075C1577CC6B0C9F35CB4C38C2EDF46" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="584DDBB31F6F8209AF0FE0B7B1A4A3A77075C1577CC6B0C9F35CB4C38C2EDF46" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="2834a4c5-7e37-4dbf-a93e-c8a512b5bce4" name="Everyone" config:flags="1" />
		<role id="8c9daf58-5e40-4029-abfa-222b405029d1" name="Anonymous" config:flags="1" />
		<role id="02b035f9-430d-4929-b708-589d0765e729" name="Authenticated" config:flags="1" />
		<role id="ce7f7b3e-7b1d-4fa8-88b3-8f954802b67d" name="Owner" config:flags="1" />
		<role id="ea5a3bf6-2384-4226-af9f-57e54e9f4518" name="Administrators" config:flags="1" />
		<role id="43e6c90c-4f98-4452-bd32-1937ab950895" name="BackendUsers" config:flags="1" />
		<role id="986392e3-951e-443f-9113-cbdb25e0016c" name="Authors" config:flags="1" />
		<role id="0879910e-473d-4b3b-bde1-773b335ccb08" name="Editors" config:flags="1" />
		<role id="d141880c-24a8-4121-b084-9e0a8ca1d0d0" name="Designers" config:flags="1" />
		<role id="7f558e26-8db4-4f8d-815a-72c502f92ee4" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>