.simple-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}

.simple-list li {
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #363636;
    padding: 0;
    text-align: left;
}

.sf-backend-wrp .modal-body .k-editor-widget .k-editor-toolbar>li:nth-last-child(2){
    top:auto !important;
    right:auto !important;
}